{% extends "base.html" %}
{% block title %}Search User{% endblock %}
{% block content %}
<h2 class="mb-4">Find a Wishlist</h2>
<form method="POST" class="mb-4">
    <div class="input-group">
        <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#BB86FC" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </span>
        <input type="text" name="username" class="form-control" placeholder="Enter username" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>
{% endblock %}